{% extends "base.html" %}

{% block title %}E-shop{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-3">
        <h2 class="mb-4">Add items</h2>
        <form method="POST" action="{{ url_for('add_items') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.image.label(class="form-label") }}
                {{ form.image(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.type.label(class="form-label") }}
                {{ form.type(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}